<div class="main-wrapper-third slide" ng-controller="app03">
  <h2>Sélectionnez vos produits:</h2>
  <div class="container" ui-view>
    <div class="produits produits-dispo">
      <ul>
        <li ng-click="selectedIt()" ng-class="{aurevoir: item.active}" ng-repeat="item in dispoItems" >{{item.title}}</li>
      </ul>
    </div>
    <div class="controls">
      <ul>
        <li><i class="fa fa-step-forward" aria-hidden="true"
          ng-click="includeIt()"
        ></i></li>
        <li><i class="fa fa-fast-forward" aria-hidden="true"
          ng-click="allItems()"
        ></i></li>
        <li><i class="fa fa-step-backward" aria-hidden="true"
          ng-click="excludeIt()"
        ></i></li>
        <li><i class="fa fa-fast-backward" aria-hidden="true"
          ng-click="allItemsRemoved()"
        ></i></li>
      </ul>
    </div>
    <div class="produits produits-select">
      <ul>
        <li ng-click="selectedIt()" ng-class="{bipbip: item.active}" ng-repeat="item in selectAllItems track by $index">{{item.title}}</li>
      </ul>
    </div>
    <a ng-click="finalFunction()"ui-sref=".produits">Allez voir vos produits...</a>
  </div>
</div>
