<div id="test" class="main-wrapper-second slide" ng-controller="app02">
	<h1>{{name}}</h1>
	<div class="choix-services">
	<p>Choisissez les éléments à inclure:</p>
  <ng-pluralize
		count="count"
		when="{
			'0'  : 'Aucun séléctionné',
			'one': 'un élément séléctionné',
			'other' : '{} élements séléctionnés '
		}"
	>

  </ng-pluralize>
	</div>
	<!-- <div ng-click="isActive()" ng-class="{bonjour: myData.services[0].active}" class="selction-services">
		<p>{{myData.services[0].name}}</p>
		<p>{{myData.services[0].price}}</p>
	</div>
	<div class="selction-services">
		<p>{{myData.services[1].name}}</p>
		<p>{{myData.services[1].price}}</p>
	</div>
	<div class="selction-services">
		<p>{{myData.services[2].name}}</p>
		<p>{{myData.services[2].price}}</p>
	</div>
	<div class="selction-services">
		<p>{{myData.services[3].name}}</p>
		<p>{{myData.services[3].price}}</p>
	</div> -->
	<div ng-click="isActive()" ng-class="{bonjour: item.active}" class="services clearfix" ng-repeat="item in myData">
		<p>{{item.name}}</p>
		<p>{{item.price}}</p>

	</div>
	<div class="total">
		<h3 >Total: {{total }}   </h3>


	</div>
</div>




<!-- <ng-pluralize
count="service"
when="{
'0':'Aucun services sélectionnés',
'one': '1 service sélectionné',
'other':  '{} services sélectionnés'
}"
>

</ng-pluralize> -->
