<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app/controllers.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Angular - Workshop</title>
</head>
<body ng-controller="controllerOne">
  <form >
    <textarea  rows="8" cols="40" ng-model="textarea" ng-change="compteur()"></textarea>
    <input data-ng-disabled="paulineWinner()" type="submit" value="envoyer" ng-model="envoyer" ng-click="addText()">
    <input type="submit" value="effacer" ng-click="clear()">
  </form>
  <div class="carac-restant" >
    <span ng-class="baseClass"> {{caracRestant}}</span><br>
    {{messageNote}}
    </div>
  <div class="info-note">
    {{info1}}
  </div>
</body>
</html>
