body {
	background-image: url('dark_exa.png');
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-style {
	margin-top: 100px;
	width: 30%;
	border: solid 2px black;
	height: 55vh;
	border-radius: 10px;
	padding: 20px;
	background-color: #85144b;
}

span {
  transition: all 0.3s ease;
}
.red {
  color: red;
  font-size: 22px;
}

.green {
  color: green;
}

.bgOrange {
	background-color: #EE8823;
}
.bgRed {
	background-color: red;
}
h4 {
	font-weight: bold;
	font-size: 22px;
	color: black;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

textarea {
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;
	font-size: 22px;
	padding: 20px;


}

.input-area {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	color: red;
}

input[type="submit"] {
  padding: 10px;
  border: solid 1px #9F1A1A;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #9F1A1A;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

input[type="reset"] {
  padding: 10px;
  border: solid 1px #9F1A1A;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #9F1A1A;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}

.carac-restant {
	font-weight: bold;
	font-size: 20px;
	color: yellow;
}

.alert-sucess {
	background-color: #ACE0AC;
	color: green;
	width: 30%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight:bold;